{%extends 'topbase.html'%}

{% block main_content %}
<div  class="centeritems" >
  <!-- /.login-logo -->
  <div class="card card-outline card-dark">
    <!-- <div class="card-header text-center">
      <a href="" class="h1"><b>Ecommerce</b>Kareh</a>
    </div> -->
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form  method="post">
          {%csrf_token%}
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" name='remember_me'>
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <button type="submit" class="btn btn-success btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      
      <!-- /.social-auth-links -->
      <br>
      <div class="row">
          <div class="col-8">
      <p class="mb-1">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
      </p>
    </div>
    <div class="col-4">
      <p class="mb-0">
        <a href="{% url 'signup' %}" >Sign Up</a>
      </p>
    </div>
    </div>
    <br>
    <h6 >This site is protected by reCAPTCHA and the Google</h6>
     <h6 > <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms and Conditions</a> apply.
     </h6>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
{%endblock main_content%}
{%block custom_js %}
<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
<script>
  //global grecaptcha
  grecaptcha.ready(function() {
    grecaptcha.execute('{{recaptcha_site_key}}', {action: 'submit'}).then(function(token) {
      document.getElementById('g-recaptcha-response').value = token;
    });
  });
</script>
{% if messages %} {% for message in messages %}
<script type=text/javascript>
    $(document).ready(function() {
        
        toastr.options = {

"progressBar": true,
"showDuration": "20",

};

toastr.{{message.tags}}('{{message}}');

       
        
});
    
</script>
{% endfor %} {% endif %}

{%endblock custom_js%}

