{%extends 'accounts/base.html'%}

{% block main_content %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="" class="h1"><b>Ecommerce</b>Kareh</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form  method="post">
          {%csrf_token%}
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" name='remember_me'>
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      
      <!-- /.social-auth-links -->
      <br>
      <div class="row">
          <div class="col-8">
      <p class="mb-1">
        <a href="">Forgot Password?</a>
      </p>
    </div>
    <div class="col-4">
      <p class="mb-0">
        <a href="{% url 'signup' %}" class="">Sign Up</a>
      </p>
    </div>
    </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
{%endblock main_content%}
{%block custom_js %}
{% if messages %} {% for message in messages %}
<script type=text/javascript>
    $(document).ready(function() {
        
        toastr.options = {

"progressBar": true,
"showDuration": "20",

};

toastr.{{message.tags}}('{{message}}');

       
        
});
    
</script>
{% endfor %} {% endif %}

{%endblock custom_js%}

