{% extends 'topbase.html' %}

{% block main_content %}
<div class="centeritems">
    <div  class="card card-outline card-dark login-card-body">
        <div class="login-box-msg">
            <p >Forgot password? Enter your email address below, </p>
            
            <p> We’ll email you instructions for setting a new one.</p>
        </div>
        <form method="post">
            {% csrf_token %} {% for field in form %}
            <div class="form-group">
                {{ field.errors }} 
                <div class="input-group mb-3">
                    <input type="email" class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}"placeholder="Email">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>
               
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-block btn-success">Request New Password</button>
        </form>

        <!-- /.social-auth-links -->

    </div>
    
</div>
{% endblock main_content %}