{% extends 'topbase.html' %} {% block main_content %}
<div class="centeritems">
    <div  class="card card-outline card-dark login-card-body">
        <div class="login-box-msg">
            <p>We've emailed you instructions to reset your password.If an account exists with the email </p>
            
            <p>you entered ,you should receive them shortly.If you don’t receive an email,please make sure<p>

           
            <p>  you’ve entered the correct email address you registered with,and check your spam folder.</p>
           
        </div>
    </div>
</div>
{% endblock main_content %}