{% extends 'topbase.html' %} {% block main_content %} {% if validlink %}
<div class="centeritems">
<div class="card  card-outline card-dark login-card-body ">
    <p class="login-box-msg">Reset Password</p>

    <form method="post">
        {% csrf_token %} 
        <div class="form-group">
            {{ field.errors }} 
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control"  id="id_new_password2" name="new_password2" placeholder="Confirm Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
       
        <button type="submit" class="btn btn-success btn-block">Change Password</button>
    </form>
</div>



</div>
{% else %}
<div class="centeritems">
<div  class="card card-outline card-dark login-card-body">
    <div class="login-box-msg">
        <p> The Password Link has Expired or is Invalid!</p>
        <p>Please request a new password reset.<a href="{% url 'password_reset' %}">Here!</a></p>
    </div>
</div>
</div>
{% endif %} {% endblock main_content %}