{% extends "base_copy.html"%} 
{% block page_title %} Home {% endblock page_title %} 
{%block content_wrapper%}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      
      <li class="breadcrumb-item active">Roles and Permissions</li>
    </ol>
  </div>
{%endblock content_wrapper%}

{%block main_content%}
<section class="content">
    <div class="container-fluid">

        <p>Role Management</p>


 <!-- /.card-header -->
        <div class="card-body table-responsive ">
            <table id="institution-table" class="table  table-hover" data-page-length='10'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Role/Group Name</th>
                       <!-- <th>Date Created</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for group in groups %}
                    <tr>
                        <td>{{ group.id}}</td>
                        <td>{{ group }}</td>
                        <td>
                            <a href="#" 
                            class="btn btn-info btn-tool view_role" >
                                <i class="fas fa-eye"></i></a>
                        
                            <a href="" class="btn btn-primary btn-tool">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="" class="btn  btn-danger btn-tool">
                              <i class="fas fa-times"></i>
                          </a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        
             

        <!-- /.card-body -->


    </div>
</section>
<!-- View Modal UI -->
<div class="modal fade" id="viewModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span id="name_span"></span> Permissions</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <ol class="permission_list">
           
          </ol>
          </div>
        <div class="form-group">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{%endblock main_content%} 
{% block custom_js %}
<script type="text/javascript">
$(document).ready(function() {
  
})
    $(".view_role").click(function(){
      var group_id=$(this).parents("tr").children("td:eq(0)").text();
      $('.permission_list').html("");
      $.ajax({
        url:"{% url 'role_view_ajax' %}",
        type:"POST",
        data:{"group_id":group_id,csrfmiddlewaretoken: '{{ csrf_token }}'},
        
        success:function(response){
          var permissions=response.permissions;
          var group=response.group;
          $("#viewModal span").html(group);
          $.each(permissions,function name(key,value) {
            console.log(value['name']);
            $('.permission_list').append('<li>'+value['name']+'</li>');
          });
          
          $("#viewModal").modal("show");
        },
        error:function(){
          alert.log("Something went wrong");
        },
      });
      $("#viewModal").modal("hide");

     
    });
    


</script>
{%endblock custom_js%}