{% extends "base_copy.html"%} 
{% block page_title %} Home {% endblock page_title %} 
{%block content_wrapper%}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      
      <li class="breadcrumb-item active">Roles and Permissions</li>
    </ol>
  </div>
{%endblock content_wrapper%}

{%block main_content%}
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
        <p>Role Management</p>
      </div>
      <div class="col-sm-4">
        <a href="#" class="btn btn-info btn-tool  create_role" data-target="#createModal" data-toggle="modal"><i class="fas fa-plus">New Group</i></a>
      </div>
      </div>


 <!-- /.card-header -->
        <div class="card-body table-responsive ">
            <table id="institution-table" class="table  table-hover" data-page-length='10'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Role/Group Name</th>
                       <!-- <th>Date Created</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    {% for group in groups %}
                    <tr>
                        <td>{{ group.id}}</td>
                        <td>{{ group }}</td>
                        <td>
                            <a href="#" 
                            class="btn btn-info btn-tool view_role" >
                                <i class="fas fa-eye"></i></a>
                        
                            <a href="#" class="btn btn-primary btn-tool edit_role" >
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn  btn-danger btn-tool delete_role" data-toggle="modal" data-target="#deleteModal">
                              <i class="fas fa-times"></i>
                          </a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        
             

        <!-- /.card-body -->


    </div>
</section>
<!-- Edit  Group Modal -->
<div class="modal fade" id="editRoleModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit  <span id="edit_group_name"></span></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
         
        <div class="form-group">
          <label for="group_name">Group Name</label> <span id="error_name" class='text-danger ms-3'></span>
        <input type="text" name="group_name" placeholder="Group Name"class="form-control" required  id="group_name">
      </div>
      <!-- Optional.Add custom permissions to that group -->
      <h3>Optional.Add customs permissions for the group below!</h3>
      <!-- Remove Permission -->
      <ol class="group_perm">
     
    </ol>
    <input type="hidden" name="roles_id" class="form-control" id="roles_id">
      
     
        
      </div>
      <div class="modal-footer">
        <div class="form-group">
        <button class="btn btn-success edit_role_ajax "  type="button">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>

  </div>
</div>
<!-- Add New Group Modal -->
<div class="modal fade" id="createModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Group <span id="name_span"></span></h4>
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>
      <div class="modal-body">
        
         
        <div class="form-group">
          <label for="role_name">Group Name</label> <span id="error_name" class='text-danger ms-3'></span>
        <input type="text" name="role_name" placeholder="Group Name"class="form-control" required id="role_name">
      </div>
      <!-- Optional.Add custom permissions to that group -->
      <h3>Optional.Add customs permissions for the group below!</h3>
      <div class="form-group">
        <label for="permission_name">Permission Name</label><span id="error_permission_name" class='text-danger ms-3'></span>
        <input type="text" name="permission_name" placeholder="Permission Name"class="form-control " id="permission_name">
      </div>
      <div class="form-group">
        <label for="permission_codename">Permission Codename</label><span id="error_permission_codename" class='text-danger ms-3'></span>
        <input type="text" name="permission_codename" placeholder="Permission Code Name"class="form-control" id="permission_codename">
      </div>
        
      </div>
      <div class="modal-footer">
        <div class="form-group">
        <button class="btn btn-success  add_group_ajax"  type="button">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>

  </div>
</div>
<!-- View Modal UI -->
<div class="modal fade" id="viewModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><span id="name_span"></span> Permissions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container">
          <ol class="permission_list">
           
          </ol>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Delete group -->
<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog modal-confirm">

    <!-- Modal content-->
    <div class="modal-content">
      
       
      <div class="modal-header justify-content-center">
        <h4 class="modal-title">Delete <span id="name_span1"></span> Role?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
          <div class="alert justify-content-center">
              <h6>Are you sure you want to delete <span id="name_span2"></span> Role?</h6>
              <h6 >All contents attached to this record will be deleted!</h6>
              <h6>This action cannot be undone</h6>
          
           <input type="hidden" name="group_id" class="form-control" id="group_id">
        </div>
        
      </div>
      <div class="modal-footer justify-content-center">
        <button class="btn btn-danger delete_group_ajax"  type="button">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
{%endblock main_content%} 
{% block custom_js %}
<script type="text/javascript">
$(document).ready(function() {
  
})
    $(".view_role").click(function(){
      var group_id=$(this).parents("tr").children("td:eq(0)").text();
      $('.permission_list').html("");
      $.ajax({
        url:"{% url 'role_view_ajax' %}",
        type:"POST",
        data:{"group_id":group_id,csrfmiddlewaretoken: '{{ csrf_token }}'},
        
        success:function(response){
          var permissions=response.permissions;
          var group=response.group;
          console.log(response)
          $("#viewModal span").html(group);
          $.each(permissions,function name(key,value) {
            console.log(value['name']);
            $('.permission_list').append('<li>'+value['name']+'</li>');
          });
          
          $("#viewModal").modal("show");
        },
        error:function(){
          alert.log("Something went wrong");
        },
      });
      $("#viewModal").modal("hide");
    });
    $(".add_group_ajax").click(function(){
      if($.trim($('#role_name').val()).length==0){
        error_name="Please enter a group name";
        $('#error_name').text(error_name);
      }
      else{
        error_name="";
        $('#error_name').text(error_name);

      }
      if($.trim($('#permission_codename').val()).length>0 && $.trim($('#permission_name').val()).length==0 ){
        error_permission_name="Please enter a Permission name";
        $('#error_permission_name').text(error_permission_name);
      }
      else{
        error_permission_name="";
        $('#error_permission_name').text(error_permission_name);

      }
      if($.trim($('#permission_name').val()).length>0 && $.trim($('#permission_codename').val()).length==0){
        error_permission_codename="Please enter a Permission Code name";
        $('#error_permission_codename').text(error_permission_codename);
      }
      else{
        error_permission_codename="";
        $('#error_permission_codename').text(error_permission_codename);

      }
      if(error_name!=""||(error_permission_codename!="")||error_permission_name!=""){
        return false;
      }
      else{
        var role_name=$('#role_name').val();
        var permission_name=$('#permission_name').val();
        var permission_codename=$('#permission_codename').val();
        console.log(permission_codename);
        console.log(permission_name);
        codename=permission_codename.toLowerCase().replace(/\s/g,'_')
        console.log(codename);
        $.ajax({
          url:"{% url 'create_group_ajax' %}",
          method:"POST",
          data:{csrfmiddlewaretoken: '{{ csrf_token }}','role_name':role_name,
          'permission_name':permission_name,'permission_codename':codename},
          success:function(response){
            $('#createModal').modal('hide');
            $('#createModal').find('input').val('');
            location.reload(true);
            console.log(response.status);
          },
          error:function(){
            $('#createModal').modal('hide');
            $('#createModal').find('input').val('');
            location.reload(true);
            console.log("Something went wrong!");
          },

        });
      }
      

    });
    // edit_group ajax
    $(".edit_role").click(function(){
      var role_id=$(this).parents("tr").children("td:eq(0)").text();
      $('.group_perm').html("");
      $.ajax({
        url:"{% url 'edit_group_ajax' %}",
        type:"POST",
        data:{'group_id':role_id,csrfmiddlewaretoken:'{{csrf_token}}'},
        success:function(response){
          console.log(response);
          let arr=['']
          $.each(response.permissions,function name(key,value) {
            arr.push(value['pk']);
          });
          $("#edit_group_name").html(response.name);
          $('#group_name').val(response.name);
          $("#roles_id").val(role_id);

          $.each(response.all_permissions,function name(permkey,permvalue) {
              if (arr.indexOf(permvalue['id'])> 0) {
             $('.group_perm').append('<li>\
              <input checked type="checkbox"\
              id=perm'+permvalue['id']+'\
              value='+permvalue['id']+'>'
              +permvalue['name']+'</li>');}
              else{
              $('.group_perm').append('<li>\
              <input type="checkbox"\
              id=perm'+permvalue['id']+'\
              value='+permvalue['id']+'>'
              +permvalue['name']+'</li>');
            }    
          });
          $("#editRoleModal").modal("show");
        },
        error:function(){
          alert.log("Something went wrong");
        },
      });
    });
    $(".delete_role").click(function(){
     var group_id=$(this).parents("tr").children("td:eq(0)").text();
     var group_name=$(this).parents("tr").children("td:eq(1)").text();
      $("#group_id").val(group_id);
      $("#name_span1").text(group_name);
      $("#name_span2").text(group_name);
      
    });
    $('.delete_group_ajax').click(function(){
      var id=$("#group_id").val();
      $("#deleteModal").modal('hide');
      $.ajax({
        url:"{% url 'delete_group_ajax' %}",
        type:'POST',
        data:{'id':id,csrfmiddlewaretoken:'{{csrf_token}}'},
        success:function(response){
          console.log(response)
          location.reload(true);
        },
        error:function(){
          location.reload(true);
        },
      })
    });
    $('.edit_role_ajax').click(function(){
      var id=$("#roles_id").val();
      var arrId = [];
      let arrValue=[];
            $('.group_perm :checkbox:checked').each(function(){
                 var id = $(this).attr('id');
                 var value= $(this).attr('value');
                 arrId.push(id);
                 arrValue.push(value)
            });
            console.log(id);
            console.log(arrId);
            console.log(arrValue);
           $.ajax({
            url:"{% url 'ajax_edit_role' %}",
            type:"POST",
           
            data:{csrfmiddlewaretoken:'{{csrf_token}}',arrId:arrId,arrValue:arrValue,role_id:id,demo:[1,2,3]},
            dataType: 'JSON',
            success:function(response){
              console.log(response.status);
              location.reload(true);
            },
            error:function(){
              alert("Something went wrong!");
              location.reload(true);
            },
           });
    });
    


</script>
{% if messages %} {% for message in messages %}
<script type=text/javascript>
    $(document).ready(function() {
        
        toastr.options = {

"progressBar": true,
"showDuration": "20",


};

toastr.{{message.tags}}('{{message}}');
    
        
});
    
</script>
{% endfor %} {% endif %}
{%endblock custom_js%}