
{% extends 'topbase.html' %}

{% block main_content %}


<div style="margin:auto;"class="centeritems">
  <div class="card  card-outline card-dark ">
    
    <div class="card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form  method="post">
          {%csrf_token%}
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          
          <!-- /.col -->
          <div class="col-12">
            <!-- reCAPTCHA input -->
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            <button type="submit" class="btn btn-success btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <br>
      <div class="text-center">
          Have an account?
      <a  href="{% url 'user_login' %}" >Sign In</a>
    </div>
    <br>
    <h6 >This site is protected by reCAPTCHA and the Google</h6>
     <h6 > <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms and Conditions</a> apply.
     </h6>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->
{%endblock%}
{%block custom_js %}
<!-- reCAPTCHA API -->
<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
<script>
  //global grecaptcha
  grecaptcha.ready(function() {
    grecaptcha.execute('{{recaptcha_site_key}}', {action: 'submit'}).then(function(token) {
      document.getElementById('g-recaptcha-response').value = token;
    });
  });
</script>

{% if messages %} {% for message in messages %}
<script type=text/javascript>
    $(document).ready(function() {
        
        toastr.options = {

"progressBar": true,
"showDuration": "20",


};

toastr.{{message.tags}}('{{message}}');

       
        
});
    
</script>
{% endfor %} {% endif %}

{%endblock custom_js%}

