{%load static%}
<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{%static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Ecommerce</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{%static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.first_name}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
    
      <!-- /.sidebar-menu -->
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
            <li class="nav-item">
                {% url 'dashboard' as dashboard %}
                <a href="{% url 'dashboard' %}"  class="nav-link {% if request.path == dashboard %} active {% endif %}">
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                        Dashboard

                    </p>
                </a>
            </li>
            <li class="nav-item">
               
                <a href=""  class="nav-link ">


                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Product Management

                    </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{%url 'products:categories'%}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Categories</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{%url 'products:sub_categories'%}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Sub Categories</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../../index3.html" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Dashboard v3</p>
                    </a>
                  </li>
                </ul>
            </li>
            <li class="nav-item">
                
                <a href="{% url 'roles' %}" class="nav-link ">


                    <i class="nav-icon fas fa-home"></i>
                    <p>
                        Roles 

                    </p>
                </a>
            </li>
            <li class="nav-item">
                
              <a href="{% url 'permissions_list' %}" class="nav-link ">


                  <i class="nav-icon fas fa-home"></i>
                  <p>
                      Permissions

                  </p>
              </a>
          </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->

    <div class="sidebar-custom">
      <a href="#" class="btn btn-link"><i class="fas fa-cogs"></i></a>
      <a href="#" class="btn btn-secondary hide-on-collapse pos-right">Help</a>
    </div>
    <!-- /.sidebar-custom -->
  </aside>
